#abdul{
    background-color:rgb(0, 0, 0);
    height:100%;
    width:1300px;
    border :15px groove rgb(252, 0, 0) ;
    margin :60px 30px;
    padding : 50px 40px;
    text-align:center;
    border-radius: 100px;
    font-size: 17px;
    font-weight:200;
    font-family:Arial, Helvetica, sans-serif
}
.pera{
    color:rgb(255, 255, 255);
    font-style: oblique;
}
.lekhok{
    color:lightpink;
    background-color: rgb(22, 22, 21);


}
.matha{
    color:yellowgreen;
    background-color: white;

}
span{
    color:red;
}
.lekhokher-matha{
    color:red;
}
.pichoner-color{
    color:orange;
}